.title{
	font-size: 32px;
	margin: auto;
	text-align: center;
}

.notice {
    font-size: 8px;
	color: #777777;
	text-align: center;
}

.map {
	text-align: center;
}

.map a{
	margin-right: 40px;
}

.links {
	text-align: center;
}

table {
	margin: auto;
	
}

th {
	height: 50px;
}

td {
	padding-left: 20px;
	padding-right: 20px;
}