<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/Tianwang.css?v={{EDITION}}" />
	</head>
	<body>
		<div class="title"> 剑三警长-天网 </div>
		<div class="notice"> 界面还没有做，先鸽了，咕咕咕。核心逻辑实现了就好啦。 </div>
		<div class="notice"> 本页面显示了对应角色在剑三警长的统计中，拥有的历史最高DPS。 </div>
		
		<div class="map"> 
			<a href="javascript:setMap('25人普通达摩洞')"> 25人普通达摩洞 </a>
			<a href="javascript:setMap('25人英雄达摩洞')"> 25人英雄达摩洞 </a>
			<a href="javascript:setMap('25人普通白帝江关')"> 25人普通白帝江关 </a>
			<a href="javascript:setMap('25人英雄白帝江关')"> 25人英雄白帝江关 </a>
			<a href="javascript:setMap('25人普通雷域大泽')"> 25人普通雷域大泽 </a>
			<a href="javascript:setMap('25人英雄雷域大泽')"> 25人英雄雷域大泽 </a>
		</div>
		
		<table id="table">
		
		</table>
		
		<div class="bottom">
			<a href="/TianwangSearch.html"> 指定查询 </div> </a>
		</div>
		
	</body>
	
	<script src="../static/jquery-3.3.1.js"></script>
	<script>
		allInfo="{{allInfo}}"
		
		res3 = allInfo.replace(/&#39;/g, '"');
		res3 = res3.replace(/\(/g, "[");
		res3 = res3.replace(/\)/g, "]");
		JallInfo = JSON.parse(res3);
		
		stdMaps = ["25人普通达摩洞", "25人英雄达摩洞", "25人普通白帝江关", "25人英雄白帝江关", "25人普通雷域大泽", "25人英雄雷域大泽"];
		showTable = {}
		for (var i in stdMaps) {
			var map = stdMaps[i];
			showTable[map] = [];
			for (var player in JallInfo[map]) {
				var d = JallInfo[map][player];
				var l = [player];
				l = l.concat(d["dps"]);
				l = l.concat([d["credit"], d["numRecord"], d["potRate"], "+"]);
				showTable[map].push(l);
			}
		}
		
		map = "25人普通达摩洞";
		order = 1;

		refreshPage();
		
		function refreshPage() {
			var table=$("#table");
			table.html('');
			
			headers = $("<tr></tr>");
			headers.appendTo(table);
			
			if (map == "25人普通达摩洞" || map == "25人英雄达摩洞") {
				bossName = ["余晖", "宓桃", "武雪散", "猿飞", "哑头陀", "岳琳&岳琅"];
			}
			else if (map == "25人普通白帝江关" || map == "25人英雄白帝江关") {
				bossName = ["胡汤&罗芬", "赵八嫂", "海荼", "姜集苦", "宇文灭", "宫威", "宫傲"];
			}
			else {
				bossName = ["巨型尖吻凤", "桑乔", "悉达罗摩", "尤珈罗摩", "月泉淮", "乌蒙贵"];
			}
			
			var bossNum = bossName.length;
			
			headerName = ["角色名"].concat(bossName).concat(["信誉分", "记录数量", "犯错比例", "展开"]);
			
			for (i in headerName) {
				var name = headerName[i];
				if (name != "角色名" && name != "展开") {
					var th = $("<th><a href='javascript:setOrder("+ i + ")'>"+name+"</a></th>");
					th.appendTo(headers);
				}
				else {
					var th = $("<th>"+name+"</th>");
					th.appendTo(headers);
				}
			}
			
			showTable[map].sort(function(x, y){return y[order] - x[order]});
			
			for (i in showTable[map]) {
				var showItem = showTable[map][i];
				var player = showItem[0];
				var infoItem = JallInfo[map][player];
				var name = player.replaceAll('@', '-');
				//console.log(id);
				
				var tr = $("<tr></tr>");
				tr.appendTo(table);
				
				for (var j in showItem) {
					if (j == bossNum + 4) {
						var td = $("<td></td>");
						var td_a = $("<a id='"+ "expand-" + name +"' href='javascript:expandDetail(\""+ name + "\")'></a>")
						td_a.html("+");
						td_a.appendTo(td);
						td.appendTo(tr);
					}
					else {
						var showText = showItem[j];
						if (j == bossNum + 3) {
							showText = (showText*100).toFixed(2) + '%'
						}
						var td = $("<td>"+showText+"</td>");
						if (j == 0) {
							td.addClass("occ-"+infoItem["occ"]);
							td.addClass("playerid");
						}
						td.appendTo(tr);
					}
				}
				
				var tr = $("<tr id='"+ "pot-" + name +"'></tr>");
				tr.appendTo(table);
				tr.addClass("pot-hidden");
				tr.addClass("hidden");
				
				var td = $('<td colspan=11></td>');
				td.appendTo(tr);
				
				var div = $("<div></div>")
				div.appendTo(td);
				
				var headerdiv = $("<div>" + "共有" + infoItem["potSum"] + "条犯错记录，其中" + infoItem["potSevere"] + "条为严重犯错。" + "</div>");
				headerdiv.addClass("pot-header")
				headerdiv.appendTo(div);
				
				for (var i in infoItem["pot"]) {
					var record = infoItem["pot"][i];
					if (record[2] > 1) {
						continue;
					}
					var singlediv = $("<div>" + record[1] + " " + record[0] + " " + record[3] + "</div>");
					singlediv.addClass("severe-"+record[2])
					singlediv.appendTo(div);
				}
				
				var headerdiv = $("<div>" + "共有" + infoItem["numComments"] + "条评价。" + "</div>");
				headerdiv.addClass("pot-header");
				headerdiv.appendTo(div);
				
				for (var i in infoItem["comments"]) {
					var record = infoItem["comments"][i];
					var singlediv = $("<div>" + record[0] + " " + record[1] + " " + record[2] + " " + record[3] + "</div>");
					singlediv.appendTo(div);
				}
			}
		}
		
		function expandDetail(s){
			var html = $('#expand-'+s).html();
			if (html == "+") {
				$('#pot-'+s).removeClass("hidden");
				$('#expand-'+s).html("-");
			}
			else if (html == "-") {
				$('#pot-'+s).addClass("hidden");
				$('#expand-'+s).html("+");
			}
		}
		
		function setMap(s) {
			map = s;
			refreshPage();
		}
		
		function setOrder(s) {
			order = s;
			refreshPage();
		}
		
	</script>
</html>