<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/Tianwang.css?v={{EDITION}}" />
	</head>
	<body>
		<div class="title"> 剑三警长-天网 </div>
		<div class="notice"> 界面还没有做，先鸽了，咕咕咕。核心逻辑实现了就好啦。 </div>
		<div class="notice"> 本页面显示了对应角色在剑三警长的统计中，拥有的历史最高DPS。 </div>
		
		<table id="table">
		  <tr>
			<th> 角色名 </th>
			<th> 地图 </th>
			<th> 余晖 </th>
			<th> 宓桃 </th>
			<th> 武雪散 </th>
			<th> 猿飞 </th>
			<th> 哑头陀 </th>
			<th> 岳琳&岳琅 </th>
		  </tr>
		</table>
		
		<div class="links" id="links"> </div>

	</body>
	
	<script src="../static/jquery-3.3.1.js"></script>
	<script>
		playerDps="{{playerDps}}";
		res1 = playerDps.replaceAll('&#39;', '"');
		res1 = res1.replaceAll('(', "[");
		res1 = res1.replaceAll(')', "]");
		res2 = JSON.parse(res1)
		
		var table=$("#table");
		for (var id in res2){
			console.log(id)
			var tr = $("<tr></tr>");
			tr.appendTo(table);
			dpsList1 = [0, 0, 0, 0, 0, 0]
			if ("25人普通达摩洞" in res2[id]) {
				dpsList1 = res2[id]["25人普通达摩洞"];
			}
			var td = $("<td>"+id+"</td>");
			td.appendTo(tr);
			var td = $("<td>"+"25人普通达摩洞"+"</td>");
			td.appendTo(tr);
			for (var j in dpsList1) {
				var td = $("<td>"+dpsList1[j]+"</td>");
				td.appendTo(tr);
			}
			
			var tr = $("<tr></tr>");
			tr.appendTo(table);
			dpsList1 = [0, 0, 0, 0, 0, 0]
			if ("25人英雄达摩洞" in res2[id]) {
				dpsList1 = res2[id]["25人英雄达摩洞"];
			}
			var td = $("<td>"+""+"</td>");
			td.appendTo(tr);
			var td = $("<td>"+"25人英雄达摩洞"+"</td>");
			td.appendTo(tr);
			for (var j in dpsList1) {
				var td = $("<td>"+dpsList1[j]+"</td>");
				td.appendTo(tr);
			}

		}
		
		
		/*
		var table=$("#table");
		for (var i in res2){
			var tr = $("<tr></tr>");
			tr.appendTo(table);
			for (var j in res2[i]) {
				if (j < 6) {
					var td = $("<td>"+res2[i][j]+"</td>");
					td.appendTo(tr);
				}
				else {
					var td = $("<td><a href='http://139.199.102.41:8009/XiangZhiData/png?key="+res2[i][j]+"'>链接</td>");
					td.appendTo(tr);
				}
			}
		}
		
		var links=$("#links");
		for (var i = 1; i <= {{pagenum}}; i++){
			var a = $("<a href='/XiangZhiTable.html?order={{order}}&map=25人英雄达摩洞&&page="+i+"'> "+i+" </a>");
			a.appendTo(links);
		}
		*/
	</script>
</html>